<h1>Adding a new Erica observation</h1>

<p>Fill out this form to create a cool new Erica mood/situation that you have observed in action!</p>

<%= render "form" %>

<%= link_to 'Back', ericas_path %>